<!-- Page For accept Doantion -->
</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGO DashBoard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ngo_dash.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>NGO Dashboard</h1>
        </div>
    <div class="sidebar">
        <ul>
            <li> <p class="main">&equiv; Main Menu </p></li>
            <br>
            <li><a>View Food Details</a></li>
            <li><a>Accept Doantion</a></li>
        </ul> 
        <button class="logout">Logout</button>
    </div>
    <h1 class="head4">ACCEPT DONATION</h1>
</body>
</html>